PROJECT_ENDPOINT="https://<FOUNDRY_NAME>.services.ai.azure.com/api/projects/<PROJECT_NAME>"
API_KEY=""
FOUNDRY_NAME="<FOUNDRY_NAME>"
PROJECT_NAME="<PROJECT_NAME>"
MODEL_DEPLOYMENT_NAME="gpt-4o"
SESSION_NAME="dennis"
OPENAI_API_VERSION="2024-12-01-preview"
AZURE_OPENAI_ENDPOINT="https://foundryuaai.openai.azure.com/"
CUSTOMERS_MCP_URL="https://mcp-server-customers.<PREFIX>.northeurope.azurecontainerapps.io/sse"
DATETIMESPACE_MCP_URL="https://mcp-server-time.<PREFIX>.northeurope.azurecontainerapps.io/sse"
DEFAULT_AGENT_ID=""