azure-identity==1.24.0
azure-ai-projects==1.1.0b3
azure-ai-agents==1.2.0b3
azure-ai-inference[prompts]==1.0.0b9
azure-ai-evaluation==1.10.0
fastapi==0.116.1
uvicorn==0.35.0
langchain==0.3.27
langchain-core==0.3.75
langchain-openai==0.3.32
# langchain-azure-ai==0.1.5
langchain-mcp-adapters==0.1.9
langgraph==0.6.6
openai==1.102.0
pydantic==2.11.7
python-dotenv==1.1.1
requests==2.32.3
semantic-kernel==1.36.0
streamlit==1.49.0
fastmcp==2.11.3
# a2a-sdk==0.3.3
httpx==0.28.1
opentelemetry-api==1.31.1
azure.monitor.opentelemetry==1.6.10
mem0ai==0.1.116
azure-search-documents==11.5.3
uv==0.7.20
jsonref==1.1.0
mcp[cli]==1.13.1
msal==1.33.0